{% extends 'base.html.twig' %}

{% block title %}Rental index{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="text-start mt-5">
                <h1 class="text-center mb-5 fw-bold">Mes locations</h1>
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Date du bail</th>
                    <th>Fin de bail</th>
                    <th>Loyer hors charges</th>
                    <th>Charges</th>
                    <th>Caution</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for rental in rentals %}
                <tr>
                    <td>{{ rental.startDate ? rental.startDate|date('Y-m-d') : '' }}</td>
                    <td>{{ rental.endDate ? rental.endDate|date('Y-m-d') : '' }}</td>
                    <td>{{ rental.netRent }}</td>
                    <td>{{ rental.charge }}</td>
                    <td>{{ rental.deposit }}</td>
                    <td>
                        <a href="{{ path('rental_show', {'id': rental.id}) }}">show</a>
                        <a href="{{ path('rental_edit', {'id': rental.id}) }}">edit</a>
                        <a href="{{ path('rental_delete', {'id': rental.id}) }}">delete</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="17">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a href="{{ path('rental_new') }}">Create new</a>
    </div>
{% endblock %}
