{% extends 'base.html.twig' %}

{% block title %}Rental{% endblock %}

{% block body %}
    <h1>Détails de la location</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Locataire</th>
                <td>
                {% for tenant in rental.tenants %}
                    {{ tenant.fullName }}{% if not loop.last %}, {% endif %}
                {% endfor %}
                </td>
            </tr>
            <tr>
                <th>Logement</th>
                <td>{{ rental.property.namePlace}}</td>
            </tr>
            <tr>
                <th>StartDate</th>
                <td>{{ rental.startDate ? rental.startDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>EndDate</th>
                <td>{{ rental.endDate ? rental.endDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>RentalType</th>
                <td>{{ rental.leaseType }}</td>
            </tr>
            <tr>
                <th>Loyer net</th>
                <td>{{ rental.grossRent }}</td>
            </tr>
            <tr>
                <th>Charges</th>
                <td>{{ rental.charge }}</td>
            </tr>
            <tr>
                <th>Deposit</th>
                <td>{{ rental.deposit }}</td>
            </tr>
            <tr>
                <th>Loyer hors charges</th>
                <td>{{ rental.netRent }}</td>
            </tr>
            <tr>
                <th>Usage du bien</th>
                <td>{{ rental.purposeUse }}</td>
            </tr>
            <tr>
                <th>Durée bail</th>
                <td>{{ rental.duration }}</td>
            </tr>
            <tr>
                <th>Périodicité du paiement</th>
                <td>{{ rental.paymentPeriod }}</td>
            </tr>
            <tr>
                <th>Méthode de paiement</th>
                <td>{{ rental.paymentMethod }}</td>
            </tr>
            <tr>
                <th>Date de paiement</th>
                <td>{{ rental.paymentDate }}</td>
            </tr>
            <tr>
                <th>Commentaire</th>
                <td>{{ rental.privateComment }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('rental_index') }}">back to list</a>

    <a href="{{ path('rental_edit', {'id': rental.id}) }}">edit</a>

    {{ include('rental/_delete_form.html.twig') }}
{% endblock %}
