{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Nouveau locataire{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="text-start mt-5">
                <h1 class="text-center mb-5 fw-bold">Nouveau locataire</h1>
            </div>
        </div>
        <ul class="nav nav-underline mb-5" id="form-tabs">
            <li class="nav-item">
                <a class="nav-link active text-muted" aria-current="page" href="#form-general-information">Informations générales</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-muted" href="#form-guarantor-information">Garants</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-muted" href="#form-document-leaseParty">Document</a>
            </li>
        </ul>
        <div class="row justify-content-center">
            <div class="col-md-10">
                {{ form_start(leasePartyForm) }}
                <div id="form-general-information" class="form-section">
                    <div class="row">
                        <!-- First column -->
                        <div class="col-md-6">
                            <div class="section-form form-general-information-section1 mb-3 p-3">
                                <!-- first line -->
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-check custom-checkbox-grid">
                                            {% for choice in leasePartyForm.civility %}
                                                <div class="form-check form-check-inline">
                                                    {{ form_widget(choice) }}
                                                    {{ form_label(choice) }}
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <!-- second line -->
                                <div class="row mt-2">
                                    <div class="col-md-4">
                                        {{ form_row(leasePartyForm.tenantPersonDetail.lastname) }}
                                    </div>
                                    <div class="col-md-4">
                                        {{ form_row(leasePartyForm.tenantPersonDetail.firstname) }}
                                    </div>
                                    <div class="col-md-4">
                                        {{ form_row(leasePartyForm.color) }}
                                    </div>
                                </div>
                                <!-- third line -->
                                <div class="row mt-0">
                                    <div class="col-md-12 mt-0 d-flex justify-content-between align-items-center">
                                        <label for="{{ leasePartyForm.dateOfBirth.vars.id }}" class="me-6">{{ leasePartyForm.dateOfBirth.vars.label }}</label>
                                        {{ form_widget(leasePartyForm.dateOfBirth) }}
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-md-6">
                                        {{ form_row(leasePartyForm.placeOfBirth) }}
                                    </div>
                                    <div class="col-md-6">
                                        {{ form_row(leasePartyForm.nationality) }}
                                    </div>
                                </div>
                            </div>
                            <div class="section-form form-general-information-section2 mb-3 p-3">
                                <div class="row mt-0">
                                    <div class="col-md-6">
                                        {{ form_row(leasePartyForm.profession) }}
                                    </div>
                                    <div class="col-md-6">
                                        {{ form_row(leasePartyForm.monthlyIncome) }}
                                    </div>
                                </div>
                            </div>
                            <div class="section-form form-general-information-section3 mb-3 p-3">
                                <div class="row">
                                    <div class="col-md-6">
                                        {{ form_row(leasePartyForm.identityDocuments.identityDocumentType) }}
                                    </div>
                                    <div class="col-md-6">
                                        {{ form_row(leasePartyForm.identityDocuments.identityNumber) }}
                                    </div>
                                    <div class="col-md-12 mt-3 d-flex justify-content-between align-items-center">
                                        <label for="{{ leasePartyForm.identityDocuments.expirationDate.vars.id }}" class="me-6">{{ leasePartyForm.identityDocuments.expirationDate.vars.label }}</label>
                                        {{ form_widget(leasePartyForm.identityDocuments.expirationDate) }}
                                    </div>
                                </div>
                            </div>
                            <div class="section-form form-general-information-section3 mb-3 p-3">
                                <div class="row">
                                    <div class="col-md-6">
                                        {{ form_row(leasePartyForm.tenantPersonDetail.email) }}
                                    </div>
                                    <div class="col-md-6">
                                        {{ form_row(leasePartyForm.tenantPersonDetail.phoneNumber) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Second column -->
                        <div class="col-md-6">
                            <div class="section-form form-general-information-section5 mb-3 p-3">
                                {{ form_row(leasePartyForm.privateComment) }}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Tab Guarantor -->
                <div id="form-guarantor-information" class="form-section">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="section-form form-guarantor-information-section1 mb-3 p-3">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-check custom-checkbox-grid d-flex align-items-center">
                                            {{ form_label(leasePartyForm.hasGuarantor) }}
                                            {% for choice in leasePartyForm.hasGuarantor %}
                                                <div class="form-check form-check-inline me-2">
                                                    {{ form_widget(choice) }}
                                                    {{ form_label(choice) }}
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="section-form form-guarantor-information-section2 mb-3 p-3">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row mt-3 px-0">
                                            <div class="col-md-4">
                                                     {{ form_row(leasePartyForm.guarantor.civility) }}
                                                </div>
                                                <div class="col-md-4">
                                                    {{ form_row(leasePartyForm.guarantorPersonDetail.firstname) }}
                                                </div>
                                                <div class="col-md-4">
                                                    {{ form_row(leasePartyForm.guarantorPersonDetail.lastname) }}
                                                </div>
                                            </div>
                                            <div class="row mt-0">
                                            <div class="col-md-12 mt-0 d-flex justify-content-between align-items-center">
                                                <label for="{{ leasePartyForm.guarantor.dateOfBirth.vars.id }}" class="me-6">{{ leasePartyForm.guarantor.dateOfBirth.vars.label }}</label>
                                                {{ form_widget(leasePartyForm.guarantor.dateOfBirth) }}
                                            </div>
                                        </div>
                                        <div class="row mt-3">
                                            <div class="col-md-6">
                                                {{ form_row(leasePartyForm.guarantor.placeOfBirth) }}
                                            </div>
                                            <div class="col-md-6">
                                                {{ form_row(leasePartyForm.guarantor.nationality) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="section-form form-guarantor-information-section3 mb-3 p-3">
                                <div class="row">
                                     <div class="col-md-6">
                                        {{ form_row(leasePartyForm.guarantor.identityDocuments.identityDocumentType) }}
                                    </div>
                                    <div class="col-md-6">
                                        {{ form_row(leasePartyForm.guarantor.identityDocuments.identityNumber) }}
                                    </div>
                                    <div class="col-md-12 mt-3 d-flex justify-content-between align-items-center">
                                        <label for="{{ leasePartyForm.guarantor.identityDocuments.expirationDate.vars.id }}" class="me-6">{{ leasePartyForm.guarantor.identityDocuments.expirationDate.vars.label }}</label>
                                        {{ form_widget(leasePartyForm.guarantor.identityDocuments.expirationDate) }}
                                    </div>
                                </div>
                            </div>
                            <div class="section-form form-guarantor-information-section4 mb-3 p-3">
                                <div class="row">
                                    <div class="col-md-6">
                                         {{ form_row(leasePartyForm.guarantorPersonDetail.email) }}
                                    </div>
                                    <div class="col-md-6">
                                        {{ form_row(leasePartyForm.guarantorPersonDetail.phoneNumber) }}
                                    </div>
                                </div>
                            </div>
                            <div class="section-form form-guarantor-information-section5 mb-3 p-3">
                                <div class="row">
                                    <div class="col-md-12">
                                        {{ form_row(leasePartyForm.guarantorAddress.streetName) }}
                                        </div>
                                        <div class="row mt-3">
                                            <div class="col-md-4">
                                                {{ form_row(leasePartyForm.guarantorAddress.postCode) }}
                                            </div>
                                            <div class="col-md-4">
                                                {{ form_row(leasePartyForm.guarantorAddress.city) }}
                                            </div>
                                            <div class="col-md-4">
                                                {{ form_row(leasePartyForm.guarantorAddress.country) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Second column -->
                            <div class="col-md-6">
                                <div class="section-form form-general-information-section5 mb-3 p-3">
                                    {{ form_row(leasePartyForm.guarantor.privateComment) }}
                                </div>
                            </div>  
                        </div>    
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-6 text-center">
                        <div class="d-inline-block">
                            <button type="submit" class="btn btn-success">Enregistrer</button>
                        </div>
                        <div class="d-inline-block">
                            <a href="{{ path('main_home') }}" class="btn btn-cancel mt-0">Annuler</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{# {% block body %}
    <h1>Create new LeaseParty</h1>

    {{ include('lease_party/_form.html.twig') }}

    <a href="{{ path('leaseParty_index') }}">back to list</a>
{% endblock %} #}
