{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Nouveau locataire{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="text-start mt-5">
                <h1 class="text-center mb-5 fw-bold">Nouveau locataire</h1>
            </div>
        </div>
        <ul class="nav nav-underline mb-5" id="form-tabs">
            <li class="nav-item">
                <a class="nav-link active text-muted" aria-current="page" href="#form-general-information">Informations générales</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-muted" href="#form-guarantor-information">Garants</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-muted" href="#form-document-leaseParty">Document</a>
            </li>
        </ul>
        <div class="row justify-content-center">
            <div class="col-md-10">
                {{ form_start(leasePartyForm) }}
                <div id="form-general-information" class="form-section">
                    <div class="row">
                        <!-- First column -->
                        <div class="col-md-6">
                            <div class="section-form form-general-information-section1 mb-3 p-3">
                                <!-- first line -->
                                <div class="row">
                                    <div class="col-md-12">
                                        <!-- Civilité avec cases à cocher -->
                                        <div class="form-check custom-checkbox-grid">
                                            {% for choice in leasePartyForm.civility %}
                                                <div class="form-check form-check-inline">
                                                    {{ form_widget(choice) }}
                                                    {{ form_label(choice) }}
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <!-- second line -->
                                <div class="row mt-2">
                                    <div class="col-md-4">
                                        {{ form_row(leasePartyForm.personDetail.lastname) }}
                                    </div>
                                    <div class="col-md-4">
                                        {{ form_row(leasePartyForm.personDetail.firstname) }}
                                    </div>
                                    <div class="col-md-4">
                                        {{ form_row(leasePartyForm.color) }}
                                    </div>
                                </div>
                                <!-- third linee -->
                                <div class="row mt-0">
                                    <div class="col-md-12 mt-0 d-flex justify-content-between align-items-center">
                                        <label for="{{ leasePartyForm.dateOfBirth.vars.id }}" class="me-6">{{ leasePartyForm.dateOfBirth.vars.label }}</label>
                                        {{ form_widget(leasePartyForm.dateOfBirth) }}
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-md-6">
                                        {{ form_row(leasePartyForm.placeOfBirth) }}
                                    </div>
                                    <div class="col-md-6">
                                        {{ form_row(leasePartyForm.nationality) }}
                                    </div>
                                </div>
                            </div>
                            <div class="section-form form-general-information-section2 mb-3 p-3">
                                <div class="row mt-0">
                                    <div class="col-md-6">
                                        {{ form_row(leasePartyForm.profession) }}
                                    </div>
                                    <div class="col-md-6">
                                        {{ form_row(leasePartyForm.monthlyIncome) }}
                                    </div>
                                </div>
                            </div>
                            <div class="section-form form-general-information-section3 mb-3 p-3">
                                <div class="row">
                                    <div class="col-md-6">
                                        {{ form_row(leasePartyForm.identityDocuments.identityDocumentType) }}
                                    </div>
                                    <div class="col-md-6">
                                        {{ form_row(leasePartyForm.identityDocuments.identityNumber) }}
                                    </div>
                                    <div class="col-md-12 mt-3 d-flex justify-content-between align-items-center">
                                        <label for="{{ leasePartyForm.identityDocuments.expirationDate.vars.id }}" class="me-6">{{ leasePartyForm.identityDocuments.expirationDate.vars.label }}</label>
                                        {{ form_widget(leasePartyForm.identityDocuments.expirationDate) }}
                                    </div>
                                </div>
                            </div>
                            <div class="section-form form-general-information-section3 mb-3 p-3">
                                <div class="row">
                                    <div class="col-md-6">
                                        {{ form_row(leasePartyForm.personDetail.email) }}
                                    </div>
                                    <div class="col-md-6">
                                        {{ form_row(leasePartyForm.personDetail.phoneNumber) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Second column -->
                        <div class="col-md-6">
                            <div class="section-form form-general-information-section5 mb-3 p-3">
                                {{ form_row(leasePartyForm.privateComment) }}
                            </div>
                        </div>
                    </div>
                </div>
                {# <div id="form-additional-information" class="form-section d-none">
                    <div class="section-form form-additional-information-section1 mb-3 pb-1 pt-3 px-3">
                        <div class="row">
                            <div class="col-md-6">
                                {{ form_row(description.propertyType) }}
                            </div>
                            <div class="col-md-6">
                                {{ form_row(description.legalRegime) }}
                            </div>
                        </div>
                    </div>
                    <div class="section-form form-additional-information-section2 mb-3 p-3">
                        <p>Désignation des parties et équipements</p>
                        <div class="row custom-checkbox-grid">
                        {% for child in description.equipment %}
                            <div class="col-md-3">
                                <div class="form-check">
                                    {{ form_widget(child) }}
                                    {{ form_label(child) }}
                                </div>
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                    <div class="section-form form-additional-information-section3 mb-3 p-3">
                        <div class="row">
                            <div class="col-md-2">
                                {{ form_row(description.buildingLot) }}
                            </div>
                            <div class="col-md-2">
                                {{ form_row(description.thousandths) }}
                            </div>
                            <div class="col-md-2">
                                {{ form_row(description.parking) }}
                            </div>
                            <div class="col-md-2">
                                {{ form_row(description.cellarType) }}
                            </div>
                            <div class="col-md-4">
                                {{ form_row(description.dependency) }}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div id="form-financial-information" class="form-section d-none">
                    <div class="row">
                        <!-- First column -->
                        <div class="col-md-6">
                            <div class="section-form form-financial-information-section1 mb-3 p-3">
                                <div class="row">
                                     <div class="col-md-12 d-flex justify-content-between align-items-center">
                                        <label for="{{ propertyForm.acquisitionDate.vars.id }}" class="me-6">{{ propertyForm.acquisitionDate.vars.label }}</label>
                                        {{ form_widget(propertyForm.acquisitionDate) }}
                                    </div>
                                    <div class="col-md-12 mt-3">
                                        {{ form_row(propertyForm.acquisitionPrice) }}
                                    </div>
                                    <div class="col-md-12 mt-3">
                                        {{ form_row(propertyForm.acquisitionFee) }}
                                    </div>
                                    <div class="col-md-12 mt-3">
                                        {{ form_row(propertyForm.agencyFee) }}
                                    </div>
                                    <div class="col-md-12 mt-3">
                                        {{ form_row(propertyForm.propertyValue) }}
                                    </div>
                                </div>
                            </div>
                            {% for tax in propertyForm.taxes %}
                            <div class="section-form form-financial-information-section2 mb-3 p-3">
                                <div class="row">
                                    <div class="col-md-12 mt-0">
                                        {{ form_row(tax.taxSystem) }}
                                    </div>
                                    <div class="col-md-12 mt-0">
                                        {{ form_row(tax.housingTax) }}
                                     </div>
                                    <div class="col-md-12 mt-3">
                                        {{ form_row(tax.propertyTax) }}
                                    </div>
                                </div>
                            </div> 
                        </div>
                        <!-- Second column -->
                        <div class="col-md-6">
                                <div class="section-form form-financial-information-section3 mb-3 p-3">
                                    <div class="col-md-12 mt-3">
                                        {{ form_row(tax.taxNumber) }}
                                    </div>
                                    <div class="col-md-12 mt-3">
                                        {{ form_row(tax.siret) }}
                                    </div>
                                     <div class="col-md-12 mt-3 d-flex justify-content-between align-items-center">
                                        <label for="{{ tax.dateActivityStart.vars.id }}" class="me-6">{{ tax.dateActivityStart.vars.label }}</label>
                                        {{ form_widget(tax.dateActivityStart) }}
                                    </div>
                                </div>
                                <div class="section-form form-financial-information-section4 mb-3 p-3">
                                    {{ form_row(tax.comment) }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    {{ form_end(leasePartyForm) }}
                </div> #}
                <div class="row justify-content-center">
                    <div class="col-md-6 text-center">
                        <div class="d-inline-block">
                            <button type="submit" class="btn btn-success">Enregistrer</button>
                        </div>
                        <div class="d-inline-block">
                            <a href="{{ path('main_home') }}" class="btn btn-cancel mt-0">Annuler</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{# {% block body %}
    <h1>Create new LeaseParty</h1>

    {{ include('lease_party/_form.html.twig') }}

    <a href="{{ path('leaseParty_index') }}">back to list</a>
{% endblock %} #}
