{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        {% if app.user %}
        <h1 class="text-center mt-5">Bienvenue {{ app.user.personDetail.firstname }} ! </h1>
        {% else %}
        <h1 class="text-center">CooPiloc </h1>
        {% endif %}
        <div class="row justify-content-center mt-5">
            <!-- First row with 3 cards -->
            <div class="text-center col-lg-3 mb-4">
                <div class="card">
                    <a href="{{ path('property_new') }}" class="card-hover text-center picto" title="Biens">
                        <i class="fa-solid fa-city fa-2x mt-3"></i>
                    </a>
                    <div class="card-body">
                        <a href="{{ path('property_new') }}" class="btn btn-home mt-2">Nouveau bien</a>
                    </div>
                </div>
            </div>
            <div class="text-center col-lg-3 mb-4">
                <div class="card">
                    <a href="{{ path('leaseParty_new') }}" class="card-hover text-center picto" title="Locataires">
                        <i class="fa-solid fa-users fa-2x mt-3"></i>
                    </a>
                    <div class="card-body">
                        <a href="{{ path('leaseParty_new') }}" class="btn btn-home mt-2">Nouveau locataire</a>
                    </div>
                </div>
            </div>
            <div class="text-center col-lg-3 mb-4">
                <div class="card">
                    <a href="{{ path('rental_new') }}" class="card-hover text-center picto" title="Locations">
                        <i class="fa-solid fa-building-user fa-2x mt-3"></i>
                    </a>
                    <div class="card-body">
                        <a href="{{ path('rental_new') }}" class="btn btn-home mt-2">Nouvelle location</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Second row with 2 cards -->
        <div class="row justify-content-center mt-4">
            <div class="text-center col-lg-3 mb-4">
                <div class="card">
                    <a href="{{ path('main_home') }}" class="card-hover text-center picto" title="Quittances">
                        <i class="fa-solid fa-file-lines fa-2x mt-3"></i>
                    </a>
                    <div class="card-body">
                        <a href="{{ path('main_home') }}" class="btn btn-home mt-2">Mes quittances</a>
                    </div>
                </div>
            </div>
            <div class="text-center col-lg-3 mb-4">
                <div class="card">
                    <a href="{{ path('main_home') }}" class="card-hover text-center picto" title="Comptabilité">
                        <i class="fa-solid fa-chart-line fa-2x mt-3"></i>
                    </a>
                    <div class="card-body">
                        <a href="{{ path('main_home') }}" class="btn btn-home mt-2">Comptabilité</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}