{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Nouveau locataire{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="text-start mt-5">
                <h1 class="text-center mb-5 fw-bold">Nouveau locataire</h1>
            </div>
        </div>
        <ul class="nav nav-underline mb-5" id="form-tabs">
            <li class="nav-item">
                <a class="nav-link active text-muted" aria-current="page" href="#form-general-information">Informations générales</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-muted" href="#form-guarantor-information">Garants</a>
            </li>
        </ul>
        <div class="row justify-content-center">
            <div class="col-md-10">
                {{ form_start(tenantForm) }}
                 <!-- Tab Tenant -->
                <div id="form-general-information" class="form-section">
                    <div class="row">
                        <!-- First column -->
                        <div class="col-md-6">
                            <div class="section-form form-general-information-section1 mb-3 px-3 py-1">
                                <!-- Section 1 -->
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-check custom-checkbox-grid">
                                            {% for choice in tenantForm.civility %}
                                                <div class="form-check form-check-inline">
                                                    {{ form_widget(choice) }}
                                                    {{ form_label(choice) }}
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-md-4">
                                         {{ form_row(tenantForm.personDetail.lastname) }}
                                    </div>
                                    <div class="col-md-4">
                                        {{ form_row(tenantForm.personDetail.firstname) }}
                                    </div>
                                    <div class="col-md-4">
                                        {{ form_row(tenantForm.color) }}
                                    </div>
                                </div>
                                <div class="row mt-0">
                                    <div class="col-md-12 d-flex justify-content-between align-items-center">
                                        <label for="{{ tenantForm.dateOfBirth.vars.id }}" class="me-6">{{ tenantForm.dateOfBirth.vars.label }}</label>
                                        {{ form_widget(tenantForm.dateOfBirth) }}
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-md-6">
                                        {{ form_row(tenantForm.placeOfBirth) }}
                                    </div>
                                    <div class="col-md-6">
                                        {{ form_row(tenantForm.nationality) }}
                                    </div>
                                </div>
                            </div>
                            <!-- Section 2 -->
                            <div class="section-form form-general-information-section mb-3 p-3">
                                <div class="row mt-0">
                                    <div class="col-md-6">
                                        {{ form_row(tenantForm.profession) }}
                                    </div>
                                    <div class="col-md-6">
                                        {{ form_row(tenantForm.monthlyIncome) }}
                                    </div>
                                </div>
                            </div>
                            <!-- Section 3 -->
                            <div class="section-form form-general-information-section mb-3 p-3">
                                <div class="row">
                                    <div class="col-md-6">
                                        {{ form_row(tenantForm.identityLeaseParty.identityDocumentType) }}
                                    </div>
                                    <div class="col-md-6">
                                        {{ form_row(tenantForm.identityLeaseParty.identityNumber) }}
                                    </div>
                                    <div class="col-md-12 mt-3 d-flex justify-content-between align-items-center">
                                        <label for="{{ tenantForm.identityLeaseParty.expirationDate.vars.id }}" class="form-label me-2">{{ tenantForm.identityLeaseParty.expirationDate.vars.label }}</label>
                                        {{ form_widget(tenantForm.identityLeaseParty.expirationDate, { 'attr': { 'class': 'form-control w-50' } }) }}
                                        {{ form_errors(tenantForm.identityLeaseParty.expirationDate) }}
                                    </div>
                                </div>
                            </div>
                            <!-- Section 4 -->
                            <div class="section-form form-general-information-section mb-3 p-3">
                                <div class="row">
                                    <div class="col-md-6">
                                        {{ form_row(tenantForm.personDetail.email) }}
                                    </div>
                                    <div class="col-md-6">
                                        {{ form_row(tenantForm.personDetail.phoneNumber) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Second column -->
                        <div class="col-md-6">
                            <div class="section-form form-general-information-section mb-3 p-3">
                                {{ form_row(tenantForm.privateComment) }}
                            </div>
                            <div class="upload-zone p-4 mb-2">
                                <p class="mb-2"><i class="fa-solid fa-cloud-arrow-up fa-lg"></i> Insérez les documents liés à votre locataire</p>
                                <div class="upload-container">
                                    {{ form_widget(tenantForm.tenantDocuments, { 'attr': {'multiple': 'multiple'} }) }}
                                    {{ form_errors(tenantForm.tenantDocuments) }}

                                    <div id="selected-files-documents" class="mt-2">
                                        <!-- List of selected documents -->
                                    </div>
                                </div>
                                <small class="text-muted">Formats acceptés : PDF, DOC, DOCX</small>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Tab Guarantor -->
                <div id="form-guarantor-information" class="form-section d-none">
                    <div class="row">
                        <!-- First column -->
                        <div class="col-md-6">
                            <!-- Section 1 -->
                            <div class="section-form form-guarantor-information-section mb-3 px-3 py-2">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-check custom-checkbox-grid d-flex align-items-center">
                                            {{ form_label(tenantForm.hasGuarantor) }}
                                            {% for choice in tenantForm.hasGuarantor %}
                                                <div class="form-check form-check-inline me-2">
                                                    {{ form_widget(choice, { 'id': 'hasGuarantor_' ~ choice.vars.value }) }}
                                                    {{ form_label(choice) }}
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Section 2 -->
                            <div id="guarantorTypeSection" class="section-form form-guarantor-information-section mb-3 px-3 py-2 hidden-focusable">
                                <div class="row">
                                {% for guarantor in tenantForm.guarantors %}
                                    <div class="col-md-12">
                                        <div class="form-check custom-checkbox-grid d-flex align-items-center">
                                            {{ form_label(guarantor.guarantorType) }}
                                            {% for choice in guarantor.guarantorType %}
                                                <div class="form-check form-check-inline me-2">
                                                    {{ form_widget(choice, { 'id': 'guarantorType_' ~ choice.vars.value }) }}
                                                    {{ form_label(choice) }}
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Section 3 -->
                            <div id="guarantorIdentitySection" class="section-form form-guarantor-information-section mb-3 p-3 hidden-focusable">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-check custom-checkbox-grid">
                                            {% for choice in guarantor.civility %}
                                                <div class="form-check form-check-inline">
                                                    {{ form_widget(choice) }}
                                                    {{ form_label(choice) }}
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-md-6">
                                         {{ form_row(guarantor.personDetail.lastname) }}
                                    </div>
                                    <div class="col-md-6">
                                        {{ form_row(guarantor.personDetail.firstname) }}
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-md-6">
                                        {{ form_row(guarantor.placeOfBirth) }}
                                    </div>
                                    <div class="col-md-6">
                                        {{ form_row(guarantor.nationality) }}
                                    </div>
                                </div>
                                <div class="row mt-0">
                                    <div class="col-md-12 d-flex justify-content-between align-items-center">
                                        <label for="{{ guarantor.dateOfBirth.vars.id }}" class="me-6">{{ guarantor.dateOfBirth.vars.label }}</label>
                                        {{ form_widget(guarantor.dateOfBirth) }}
                                    </div>
                                </div>
                            </div>
                            <!-- Section 4 -->
                            <div id="guarantorCompanyNameSection" class="section-form form-guarantor-information-section mb-3 p-3 hidden-focusable">
                                <div class="row">
                                    <div class="col-md-12">
                                        {{ form_row(guarantor.guarantorCompanyName) }}
                                    </div>
                                </div>
                            </div>
                            <!-- Section 5 -->
                            <div id="guarantorDetailSection" class="section-form form-guarantor-information-section mb-3 p-3 hidden-focusable">
                                <div class="row mt-0">
                                    <div class="col-md-6">
                                        {{ form_row(guarantor.profession) }}
                                    </div>
                                    <div class="col-md-6">
                                        {{ form_row(guarantor.monthlyIncome) }}
                                    </div>
                                </div>
                            </div>
                            <!-- Section 6 -->
                            <div id="guarantorIdentityLeasePartySection" class="section-form form-guarantor-information-section mb-3 p-3 hidden-focusable">
                                <div class="row">
                                    <div class="col-md-6">
                                        {{ form_row(guarantor.identityLeaseParty.identityDocumentType) }}
                                    </div>
                                    <div class="col-md-6">
                                        {{ form_row(guarantor.identityLeaseParty.identityNumber) }}
                                    </div>
                                    <div class="col-md-12 mt-3 d-flex justify-content-between align-items-center">
                                        <label for="{{ guarantor.identityLeaseParty.expirationDate.vars.id }}" class="form-label me-2">{{ guarantor.identityLeaseParty.expirationDate.vars.label }}</label>
                                        {{ form_widget(guarantor.identityLeaseParty.expirationDate, { 'attr': { 'class': 'form-control w-50' } }) }}
                                        {{ form_errors(guarantor.identityLeaseParty.expirationDate) }}
                                    </div>
                                </div>
                            </div>
                            <!-- Section 7 -->
                            <div id="guarantorContactSection" class="section-form form-guarantor-information-section mb-3 p-3 hidden-focusable">
                                <div class="row">
                                    <div class="col-md-6">
                                        {{ form_row(guarantor.personDetail.email) }}
                                    </div>
                                    <div class="col-md-6">
                                        {{ form_row(guarantor.personDetail.phoneNumber) }}
                                    </div>
                                </div>
                            </div>
                            <!-- Section 8 -->
                            <div id="guarantorAddressSection" class="section-form form-guarantor-information-section mb-3 p-3 hidden-focusable">
                                <div class="row">
                                    <div class="col-md-12">
                                        {{ form_row(guarantor.address.streetName) }}
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-md-6">
                                        {{ form_row(guarantor.address.building) }}
                                    </div>
                                    <div class="col-md-6">
                                        {{ form_row(guarantor.address.floor) }}
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-md-6">
                                        {{ form_row(guarantor.address.postCode) }}
                                    </div>
                                    <div class="col-md-6">
                                        {{ form_row(guarantor.address.city) }}
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-md-6">
                                        {{ form_row(guarantor.address.region) }}
                                    </div>
                                    <div class="col-md-6">
                                        {{ form_row(guarantor.address.country) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Second column -->
                        <div class="col-md-6">
                            <!-- Section 9 -->
                            <div id="guarantorPrivateCommentSection" class="section-form form-general-information-section mb-3 p-3">
                                {{ form_row(guarantor.privateComment) }}
                            </div>
                            <!-- Section 10 -->
                            <div id="guarantorUploadZoneSection" class="upload-zone p-4 mb-2 hidden-focusable">
                                <p class="mb-2"><i class="fa-solid fa-cloud-arrow-up fa-lg"></i> Insérez les documents liés aux garants</p>
                                <div class="upload-container">
                                    {{ form_widget(guarantor.guarantorDocuments, { 'attr': {'multiple': 'multiple'} }) }}
                                    {{ form_errors(guarantor.guarantorDocuments) }}

                                    <div id="selected-files-documents" class="mt-2">
                                        <!-- TODO: create List of selected documents -->
                                    </div>
                                </div>
                                <small class="text-muted">Formats acceptés : PDF, DOC, DOCX</small>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End form -->
                <div class="row justify-content-center">
                    <div class="col-md-6 text-center">
                        <div class="d-inline-block">
                            <button type="submit" class="btn btn-success">Enregistrer</button>
                        </div>
                        <div class="d-inline-block">
                            <a href="{{ path('main_home') }}" class="btn btn-cancel mt-0">Annuler</a>
                        </div>
                    </div>
                </div>
                {{ form_end(tenantForm) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/guarantor.js') }}"></script>
{% endblock %}
