{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Nouveau bien{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="text-start mt-5">
                <h1 class="text-center mb-5 fw-bold">Nouveau lot</h1>
            </div>
        </div>
        <ul class="nav nav-underline mb-5" id="form-tabs">
            <li class="nav-item">
                <a class="nav-link active text-muted" aria-current="page" href="#form-general-information">Informations générales</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-muted" href="#form-additional-information">Informations complémentaires</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-muted" href="#form-financial-information">Informations financières</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-muted" href="#contracts-diagnostics">Contrats et diagnostics</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-muted" href="#photos">Photos</a>
            </li>
        </ul>
        <div class="row justify-content-center">
            <div class="col-md-10">
                {{ form_start(propertyForm) }}
                <div id="form-general-information" class="form-section">
                    <div class="row">
                        <!-- First column -->
                        <div class="col-md-6">
                            <!-- first line -->
                            <div class="section-form form-general-information-section mb-3 pb-0 pt-3 px-3">
                                <div class="row">
                                    <div class="col-md-4">
                                        {{ form_row(propertyForm.type) }}
                                    </div>
                                    <div class="col-md-4">
                                        {{ form_row(propertyForm.namePlace) }}
                                    </div>
                                    <div class="col-md-4">
                                        {{ form_row(propertyForm.color) }}
                                    </div>
                                </div>
                            </div>
                            <!-- second line -->
                            <div class="section-form form-general-information-section mb-3 p-3">
                                <div class="row">
                                    <div class="col-md-12">
                                        {{ form_row(propertyForm.address.streetName) }}
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-md-6">
                                        {{ form_row(propertyForm.address.building) }}
                                    </div>
                                    <div class="col-md-6">
                                        {{ form_row(propertyForm.address.floor) }}
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-md-6">
                                        {{ form_row(propertyForm.address.postCode) }}
                                    </div>
                                    <div class="col-md-6">
                                        {{ form_row(propertyForm.address.city) }}
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-md-6">
                                        {{ form_row(propertyForm.address.region) }}
                                    </div>
                                    <div class="col-md-6">
                                        {{ form_row(propertyForm.address.country) }}
                                    </div>
                                </div>
                            </div>
                            <div class="section-form form-general-information-section mb-3 p-3">
                            {% for description in propertyForm.descriptions %}
                                <div class="row">
                                    <div class="col-md-6">
                                        {{ form_row(description.area) }}
                                    </div>
                                    <div class="col-md-6">
                                        {{ form_row(description.numberOfBedrooms) }}
                                    </div>
                                </div>
                                <div class="row mt-0">
                                    <div class="col-md-6">
                                        {{ form_row(description.numberOfRooms) }}
                                    </div>
                                    <div class="col-md-6">
                                        {{ form_row(description.numberOfBathrooms) }}
                                    </div>
                                </div>
                                <div class="row mt-0">
                                    <div class="col-md-6">
                                        {{ form_row(description.constructionYear) }}
                                    </div>
                                    <div class="col-md-6">
                                        {{ form_row(description.numberOfShower) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Second column -->
                        <div class="col-md-6">
                            <div class="section-form form-general-information-section mb-3 p-3">
                                {{ form_row(description.comment) }}
                            </div>
                            <div class="section-form form-general-information-section mb-3 p-3">
                                {{ form_row(description.privateComment) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div id="form-additional-information" class="form-section d-none">
                    <div class="section-form form-additional-information-section mb-3 pb-1 pt-3 px-3">
                        <div class="row">
                            <div class="col-md-6">
                                {{ form_row(description.propertyType) }}
                            </div>
                            <div class="col-md-6">
                                {{ form_row(description.legalRegime) }}
                            </div>
                        </div>
                    </div>
                    <div class="section-form form-additional-information-section mb-3 p-3">
                        <p>Désignation des parties et équipements</p>
                        <div class="row custom-checkbox-grid">
                        {% for child in description.equipment %}
                            <div class="col-md-3">
                                <div class="form-check">
                                    {{ form_widget(child) }}
                                    {{ form_label(child) }}
                                </div>
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                    <div class="section-form form-additional-information-section mb-3 p-3">
                        <div class="row">
                            <div class="col-md-2">
                                {{ form_row(description.buildingLot) }}
                            </div>
                            <div class="col-md-2">
                                {{ form_row(description.thousandths) }}
                            </div>
                            <div class="col-md-2">
                                {{ form_row(description.parking) }}
                            </div>
                            <div class="col-md-2">
                                {{ form_row(description.cellarType) }}
                            </div>
                            <div class="col-md-4">
                                {{ form_row(description.dependency) }}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div id="form-financial-information" class="form-section d-none">
                    <div class="row">
                        <!-- First column -->
                        <div class="col-md-6">
                            <div class="section-form form-financial-information-section mb-3 p-3">
                                <div class="row">
                                     <div class="col-md-12 d-flex justify-content-between align-items-center">
                                        <label for="{{ propertyForm.acquisitionDate.vars.id }}" class="me-6">{{ propertyForm.acquisitionDate.vars.label }}</label>
                                        {{ form_widget(propertyForm.acquisitionDate) }}
                                    </div>
                                    <div class="col-md-12 mt-3">
                                        {{ form_row(propertyForm.acquisitionPrice) }}
                                    </div>
                                    <div class="col-md-12 mt-3">
                                        {{ form_row(propertyForm.acquisitionFee) }}
                                    </div>
                                    <div class="col-md-12 mt-3">
                                        {{ form_row(propertyForm.agencyFee) }}
                                    </div>
                                    <div class="col-md-12 mt-3">
                                        {{ form_row(propertyForm.propertyValue) }}
                                    </div>
                                </div>
                            </div>
                            {% for tax in propertyForm.taxes %}
                            <div class="section-form form-financial-information-section mb-3 p-3">
                                <div class="row">
                                    <div class="col-md-12 mt-0">
                                        {{ form_row(tax.taxSystem) }}
                                    </div>
                                    <div class="col-md-12 mt-0">
                                        {{ form_row(tax.housingTax) }}
                                     </div>
                                    <div class="col-md-12 mt-3">
                                        {{ form_row(tax.propertyTax) }}
                                    </div>
                                </div>
                            </div> 
                        </div>
                        <!-- Second column -->
                        <div class="col-md-6">
                            <div class="section-form form-financial-information-section mb-3 p-3">
                                <div class="col-md-12 mt-3">
                                    {{ form_row(tax.taxNumber) }}
                                </div>
                                <div class="col-md-12 mt-3">
                                    {{ form_row(tax.siret) }}
                                </div>
                                <div class="col-md-12 mt-3 d-flex justify-content-between align-items-center">
                                    <label for="{{ tax.dateActivityStart.vars.id }}" class="me-6">{{ tax.dateActivityStart.vars.label }}</label>
                                    {{ form_widget(tax.dateActivityStart) }}
                                </div>
                            </div>
                            <div class="section-form form-financial-information-section mb-3 p-3">
                                {{ form_row(tax.comment) }}
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                </div>
                {# <div id="contracts-diagnostics" class="form-section d-none">
                    <div class="section-contracts-diagnostics mb-3 pb-1 pt-3 px-3">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <p>Documents</p>
                                <!-- Widget pour le champ d'upload avec des attributs personnalisés -->
                                {{ form_widget(propertyForm.propertyDocuments) }}
                                {{ form_errors(propertyForm.propertyDocuments) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div id="photos" class="form-section d-none">
                    <div class="section-photos mb-3 pb-1 pt-3 px-3">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <p>Photos</p>
                                <!-- Widget pour le champ d'upload avec des attributs personnalisés -->
                                {{ form_widget(propertyForm.propertyImages) }}
                                {{ form_errors(propertyForm.propertyImages) }}
                            </div>
                        </div>
                    </div>
                </div> #}
                <!-- End form -->
                <div class="row justify-content-center">
                    <div class="col-md-6 text-center">
                        <div class="d-inline-block">
                            <button type="submit" class="btn btn-success">Enregistrer</button>
                        </div>
                        <div class="d-inline-block">
                            <a href="{{ path('main_home') }}" class="btn btn-cancel mt-0">Annuler</a>
                        </div>
                    </div>
                </div>
                {{ form_end(propertyForm) }}
            </div>
        </div>
    </div>
{% endblock %}

{# {% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/dropZone.js') }}"></script>
{% endblock %} #}