{% extends 'base.html.twig' %}

{% block title %}Tax{% endblock %}

{% block body %}
    <h1>Tax</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tax.id }}</td>
            </tr>
            <tr>
                <th>TaxSystem</th>
                <td>{{ tax.taxSystem }}</td>
            </tr>
            <tr>
                <th>TaxNumber</th>
                <td>{{ tax.taxNumber }}</td>
            </tr>
            <tr>
                <th>TaxName</th>
                <td>{{ tax.taxName }}</td>
            </tr>
            <tr>
                <th>TaxAmount</th>
                <td>{{ tax.taxAmount }}</td>
            </tr>
            <tr>
                <th>PropertyTax</th>
                <td>{{ tax.propertyTax }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_tax_index') }}">back to list</a>

    <a href="{{ path('app_tax_edit', {'id': tax.id}) }}">edit</a>

    {{ include('tax/_delete_form.html.twig') }}
{% endblock %}
