{% extends 'base.html.twig' %}

{% block title %}RentalDocument index{% endblock %}

{% block body %}
    <h1>RentalDocument index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Logement</th>
                <th>Locataires</th>
                <th>Status</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for rental_document in rental_documents %}
            <tr>
                <td></td>
                <td>{{ rental.property.namePlace }}</td>
                <td>
                {% for tenant in rental.tenants %}
                    {{ tenant.fullName }}
                {% endfor %}
                </td>
                <td>
                    {% for rentalDocument in rental_documents %}
                        <h3>Location pour le bien : {{ rentalDocument.rental.property.name }}</h3>
                        <ul>
                            {% for month in rentalDocument.months %}
                                <li>
                                    <a href="{{ path('rental_document', {'id': rentalDocument.rental.id, 'month': month|date('Y-m')}) }}">
                                        Quittance pour {{ month|date('F Y') }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endfor %}
                </td>
                <td>
                    <a href="{{ path('app_rental_document_show', {'id': rental_document.id}) }}">show</a>
                    <a href="{{ path('app_rental_document_edit', {'id': rental_document.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
