{% extends 'base.html.twig' %}

{% block title %}RentalDocument index{% endblock %}

{% block body %}
    <h1>RentalDocument index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>ReceiptDate</th>
                <th>NoticeRentDueDate</th>
                <th>UploadRentalDocumentPath</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for rental_document in rental_documents %}
            <tr>
                <td>{{ rental_document.id }}</td>
                <td>{{ rental_document.receiptDate }}</td>
                <td>{{ rental_document.noticeRentDueDate }}</td>
                <td>{{ rental_document.uploadRentalDocumentPath }}</td>
                <td>
                    <a href="{{ path('app_rental_document_show', {'id': rental_document.id}) }}">show</a>
                    <a href="{{ path('app_rental_document_edit', {'id': rental_document.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_rental_document_new') }}">Create new</a>
{% endblock %}
