{% extends 'base.html.twig' %}

{% block title %}IdentityLeaseParty{% endblock %}

{% block body %}
    <h1>IdentityDocument</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ identity_document.id }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ identity_document.createdAt ? identity_document.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ identity_document.updatedAt ? identity_document.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>IdentityDocumentType</th>
                <td>{{ identityLeaseParty.identityDocumentType }}</td>
            </tr>
            <tr>
                <th>IdentityNumber</th>
                <td>{{ identityLeaseParty.identityNumber }}</td>
            </tr>
            <tr>
                <th>ExpirationDate</th>
                <td>{{ identityLeaseParty.expirationDate ? identityLeaseParty.expirationDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UploadIdentityPath</th>
                <td>{{ identityLeaseParty.uploadIdentityPath }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_identity_leaseParty_index') }}">back to list</a>

    <a href="{{ path('app_identity_leaseParty_edit', {'id': identityLeaseParty.id}) }}">edit</a>

    {{ include('Identity_leaseParty/_delete_form.html.twig') }}
{% endblock %}
