<div class="wrapper">   
    <aside id="sidebar">
        <div class="d-flex">
            <button class="toggle-btn" type="button">
                <i class="fa-solid fa-bars"></i>
            </button>
            <div class="sidebar-logo">
                <a href="#" class="d-flex justify-content-center align-items-center mb-3 m-3">
                    <img src="{{ asset('img/logo/logonoir.png') }}" class="sign-in-logo d-inline-block align-top logo rounded-circle" alt="CooPiloc logo">
                </a>
            </div>
        </div>
        <ul class="sidebar-nav">
        <li class="sidebar-item">
                <a href="{{ path('main_home') }}" class="sidebar-link" title="Accueil">
                    <i class="fa-solid fa-house"></i>
                    <span>Accueil</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a href="{{ path('property_index') }}" class="sidebar-link" title="Biens">
                    <i class="fa-solid fa-city"></i>
                    <span>Biens</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a href="{{ path('tenant_index') }}" class="sidebar-link" title="Locataires">
                    <i class="fa-solid fa-users"></i>
                    <span>Locataires</span>
                </a>
            </li>
            <li class="sidebar-item" >
                <a href="#" class="sidebar-link" title="Locations">
                    <i class="fa-solid fa-building-user"></i>
                    <span>Locations</span>
                </a>
            </li>
            <li class="sidebar-item" >
                <a href="#" class="sidebar-link" title="Documents">
                    <i class="fa-regular fa-folder-open"></i>
                    <span>Documents</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a href="#" class="sidebar-link" title="Quittances">
                    <i class="fa-solid fa-file-lines"></i>
                    <span>Quittances</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a href="#" class="sidebar-link" title="Comptabilité">
                    <i class="fa-solid fa-chart-line"></i>
                    <span>Comptabilité</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a href="#" class="sidebar-link" title="Paramètres">
                    <i class="fa-solid fa-gear"></i>
                    <span>Paramètres</span>
                </a>
            </li>
            <li class="sidebar-footer">
                <a href="{{ path('app_logout') }}" class="sidebar-link" title="Déconnexion">
                    <i class="fa-solid fa-right-from-bracket"></i>
                    <span>Déconnexion</span>
                </a>
            </li>
        </ul>
    </aside>
</div>